.navbar-wrapper {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 51px;
}
.navbar-wrapper > .container {
    padding: 0;
}

@media all and (max-width: 768px ){
    .navbar-wrapper {
        position: relative;
        top: 0px;
    }
}
.jssorb21 {
    position: absolute;
}
.jssorb21 div{
    position: absolute;
    /* size of bullet elment */
    width: 14px;
    height: 14px;
    text-align: center;
    line-height: 19px;
    color: white;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
}
.jssorb21 div:hover, .jssorb21 .av{
    background-color: #f48120;
}

.jssora21l, .jssora21r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url(../img/a21.png) center center no-repeat;
    overflow: hidden;
}
.jssora21l { background-position: -3px -33px; }
.jssora21r { background-position: -63px -33px; }
.jssora21l:hover { background-position: -123px -33px; }
.jssora21r:hover { background-position: -183px -33px; }
.jssora21l.jssora21ldn { background-position: -243px -33px; }
.jssora21r.jssora21rdn { background-position: -303px -33px; }


/* jssor slider arrow navigator skin 05 css */
/*
.jssora05l                  (normal)
.jssora05r                  (normal)
.jssora05l:hover            (normal mouseover)
.jssora05r:hover            (normal mouseover)
.jssora05l.jssora05ldn      (mousedown)
.jssora05r.jssora05rdn      (mousedown)
*/
.jssora05l, .jssora05r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url('img/a17.png') no-repeat;
    overflow: hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05l.jssora05ldn { background-position: -250px -40px; }
.jssora05r.jssora05rdn { background-position: -310px -40px; }

/* jssor slider thumbnail navigator skin 01 css */
/*
.jssort01-99-66 .p            (normal)
.jssort01-99-66 .p:hover      (normal mouseover)
.jssort01-99-66 .p.pav        (active)
.jssort01-99-66 .p.pdn        (mousedown)
*/
.jssort01-99-66 .p {
    position: absolute;
    top: 0;
    left: 0;
    width: 99px;
    height: 66px;
}

.jssort01-99-66 .t {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.jssort01-99-66 .w {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.jssort01-99-66 .c {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 95px;
    height: 62px;
    border: #000 2px solid;
    box-sizing: content-box;
    background: url('img/t01.png') -800px -800px no-repeat;
    _background: none;
}

.jssort01-99-66 .pav .c {
    top: 2px;
    _top: 0px;
    left: 2px;
    _left: 0px;
    width: 95px;
    height: 62px;
    border: #000 0px solid;
    _border: #fff 2px solid;
    background-position: 50% 50%;
}

.jssort01-99-66 .p:hover .c {
    top: 0px;
    left: 0px;
    width: 97px;
    height: 64px;
    border: #fff 1px solid;
    background-position: 50% 50%;
}

.jssort01-99-66 .p.pdn .c {
    background-position: 50% 50%;
    width: 95px;
    height: 62px;
    border: #000 2px solid;
}

* html .jssort01-99-66 .c, * html .jssort01-99-66 .pdn .c, * html .jssort01-99-66 .pav .c {
    /* ie quirks mode adjust */
    width /**/: 99px;
    height /**/: 66px;
}
